PORT=3001
NODE_ENV=test
JWT_SECRET= clave_supersegura
JWT_EXPIRES_IN= 1h
DB_HOST=localhost
DB_PORT=5433
DB_USER=postgres
DB_PASSWORD=admin
DB_NAME=ejercicio-2_dev
API_URL=http://localhost:3001 #o API_URL=http://localhost:3001/api (he estado teniendo muchos problemas con esto)
DATABASE_URL="postgresql://postgres:admin@db:5433/ejercicio2_test?schema=public" 
# "postgresql://postgres:test@db:5434/ejercicio2_test?schema=public"
# "postgresql://postgres:admin@db:5433/ejercicio2?schema=public" 